* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-section {
  background-color: white;
  width: 100%;
  height: 60px;
  padding: 15px 0;
}

.nav-container {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.nav-image img {
  height: 52px;
}

.nav-text a {
  /* width: 325px; */
  gap: 32px;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  line-height: 152%;
  text-decoration: none;
}

.nav-container ul {
  list-style: none;
}

.nav-text {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.nav-container .btn,
.hero-container .btn3,
.hero-container .btn4,
.bottom-content .btn5 {
  font-family: "Inter", sans-serif;
  background: rgba(70, 145, 101, 1);
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 16px;
  line-height: auto;
  cursor: pointer;
}

.hero-container .btn3 {
  padding: 19px 19px;
}

.hero-container .btn4 {
  background: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 18px 17px;
  margin-left: 7px;
}

.hero-section {
  margin-top: 17px;
  width: 100%;
  height: 608px;
  background: url("assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-container {
  padding: 2px 127px 132px 118px;
  max-width: 1330px;
  margin: 0 auto;
}

.hero-container .btn2 {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: rgba(70, 145, 101, 1);
  border-radius: 19px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 11px;
  line-height: auto;
  cursor: pointer;
  margin-bottom: 16px;
}

.hero-container h2 {
  font-family: "Inter", sans-serif;
  font-size: 82px;
  font-weight: 700;
  line-height: 84px;
  opacity: 0.9;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.hero-container .green-text,
.box-right ul i {
  color: rgba(48, 184, 104, 1);
}

.hero-container p {
  margin-top: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  line-height: 32px;
  margin-bottom: 32px;
}

.note-section {
  font-family: "Inter", sans-serif;
  padding: 0 120px;
  margin-top: 48px;
  text-align: center;
  gap: 8px;
}

.note-header {
  padding: 0 120px;
}

.note-header h2 {
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-size: 48px;
  font-style: Bold;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.note-header p {
  margin-top: 15px;
  color: rgba(98, 115, 130, 1);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 42px;
}

.card-container {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.card {
  border-radius: 9px 9px 0 0;
  box-shadow: 0 -8px 30px -5px rgba(0, 0, 0, 0.08);
  background: white;
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px;
}

.card i {
  background: rgba(249, 85, 85, 1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card h3 {
  margin: 0 16px;
  font-size: 20px;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  text-align: center;
  font-weight: 600;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.card p {
  color: rgba(98, 115, 130, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.brain-section {
  font-family: "Inter", sans-serif;
  padding: 120px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.brain-section img {
  border-radius: 12px;
}

.box-right h4 {
  color: rgba(70, 145, 101, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.box-right h2 {
  color: var(--Color, rgba(0, 25, 49, 1));
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  font-style: bold;
  text-transform: capitalize;
  margin-top: 16px;
}

.box-right p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 34px;
}

.box-right ul {
  list-style: none;
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.early-access-section {
  font-family: "Inter", sans-serif;
  padding: 0 120px 120px 120px;
  text-align: center;
}

.early-access-container {
  padding: 80px 40px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
}

.top-content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-style: bold;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.top-content p {
  color: rgba(98, 115, 130, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 22px;
}

.bottom-content p {
  margin-top: 15px;
  color: rgba(98, 115, 130, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footer-section {
  font-family: "Inter", sans-serif;
  background: rgba(0, 25, 49, 1);
  height: 308px;
  padding: 120px 120px 30px 120px;
}

.footer-section .up-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 70px;
}

.footer-section .up-part-text h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.footer-section .up-part-text img {
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  height: 18px;
  gap: 16;
  margin-right: 13px;
}

.footer-section hr {
  border: 1px solid rgba(229, 231, 235, 1);
  opacity: 0.2;
}

.lower-part {
  margin-top: 20px;
  color: rgba(250, 250, 250, 1);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
